@model ItemDisplay<RoomDetail>
<!DOCTYPE html>
<html>
<!--phần đầu-->
<head>
    <title>Tình trạng phòng</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="trangchinh.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/2f8895050a.js" crossorigin="anonymous"></script>
    <style>
        .list-group.item5 {
            background-color: #001F54;
            color: #FEFCFB !important;
        }
    </style>
</head>
<body>
    <form asp-action="Room" method="post" style="z-index: 0; padding-bottom: 100px;">
        <div class="surgery-schedule">
            <div class="surgery-major">
                <div class="surgery-title">
                    TÌNH TRẠNG PHÒNG PHẪU THUẬT
                </div>
                <div class="surgery-major-button">
                    <!-- nghiệp vụ -->
                    <div class="dropdown">
                        <button class="dropbtn">
                            NGHIỆP VỤ
                            <div class="dropbtn-icon"><i class="fa-solid fa-user-tie"></i></div>
                        </button>
                        <div class="dropdown-content">
                            <a asp-action="Room_Add">Thêm thông tin phòng</a>
                            <a asp-action="Room_Setting">Chỉnh sửa thông tin phòng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="surgery-table">
                <table id="surgery-table">
                    <div class="wrap-sreach">
                        <input name="searchString" class="search" style="width: 21rem;" type="text" placeholder="Điền thông tin" value="@Model.CurrentSearchString" autocomplete="on">
                        <select name="searchField" style="width: 13rem; padding: 0.5rem;" id="searchField">
                            @if (!String.IsNullOrWhiteSpace(@Model.CurrentSearchField))
                            {
                                <option value="@Model.CurrentSearchField">@Model.NameVar[Model.CurrentSearchField]</option>
                            }

                            @foreach (var item in Model.SearchFieldList)
                            {
                                @if ((item != Model.CurrentSearchField))
                                {
                                    <option value="@item">@Model.NameVar[@item]</option>
                                }
                            }
                        </select>
                        <button class="searchingpatient" style="color: white;border: 1px #001F54 solid;font-size: 1.1rem; font-family: lato; padding: 0.5rem 1rem;background-color: #1282A2;border-radius: 8px;" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Tìm Kiếm
                        </button>
                    </div>
                    <table id="dataTable">
                        <thead>
                            <tr>
                                <th>Mã phòng</th>
                                <th>Loại phòng</th>
                                <th>Tình trạng</th>
                                <th>Thời gian bắt đầu sử dụng</th>
                                <th>Bác sĩ mổ chính</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PageCount > 0)
                        {
                            foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td id="lichphauthuat">@item.room.Room_Type</td> 
                                    <td id="lichphauthuat">@item.room.Room_ID</td>
                                    @if(item.surgery.Surgery_Status == -1)
                                    {
                                            <td id="tinhtrangphong">Trống</td>
                                    }
                                        else
                                        {
                                            <td id="tinhtrangphong">Đang sử dụng</td>
                                        }
                                        <td id="lichphauthuat">@item.surgery.Surgery_Time</td>
                                    <td id="lichphauthuat">@item.staff.Staff_Name</td> 
                                </tr>
                            }
                        }
                        <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
