@model ItemDisplay<Staff>
<!DOCTYPE html>
<html>
<!--phần đầu-->
<head>
    <title>Nhân sự</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="trangchinh.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/2f8895050a.js" crossorigin="anonymous"></script>
    <style>
        .list-group.item4 {
            background-color: #001F54;
            color: #FEFCFB !important;
        }
    </style>
</head>
<body>
    <form asp-action="Staff" method="post" style="z-index: 0; padding-bottom: 100px;">
        <div class="surgery-schedule">
            <div class="surgery-major">
                <div class="surgery-title">
                    DANH SÁCH NHÂN SỰ
                </div>
                <div class="surgery-major-button">
                    <!-- nghiệp vụ -->
                    <div class="dropdown">
                        <button class="dropbtn">
                            NGHIỆP VỤ
                            <div class="dropbtn-icon"><i class="fa-solid fa-user-tie"></i></div>
                        </button>
                        <div class="dropdown-content">
                            <a asp-action="Staff_Add">Thêm nhân sự</a>
                            <a href="#!">Chỉnh sửa thông tin</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="surgery-table">
                <table id="surgery-table">
                    <div class="wrap-sreach">
                        <input name="searchString" class="search" style="width: 21rem;" type="text" placeholder="Điền thông tin" value="@Model.CurrentSearchString" autocomplete="on">
                        <select name="searchField" style="width: 13rem; padding: 0.5rem;" id="searchField">
                            @if (!String.IsNullOrWhiteSpace(@Model.CurrentSearchField))
                            {
                                <option value="@Model.CurrentSearchField">@Model.NameVar[Model.CurrentSearchField]</option>
                            }

                            @foreach (var item in Model.SearchFieldList)
                            {
                                @if ((item != Model.CurrentSearchField))
                                {
                                    <option value="@item">@Model.NameVar[@item]</option>
                                }
                            }
                        </select>
                        <button class="searchingpatient" style="color: white;border: 1px #001F54 solid;font-size: 1.1rem; font-family: lato; padding: 0.5rem 1rem;background-color: #1282A2;border-radius: 8px;" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Tìm Kiếm
                        </button>
                    </div>
                    <table id="dataTable">
                        <thead>
                            <tr>
                                <th>Số hiệu nhân viên</th>
                                <th>Họ và tên</th>
                                <th>Chức vụ</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                                <th>Chi tiết</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (Model.PageCount > 0)
                        {
                            foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td id="lichphauthuat">@item.Staff_ID</td>
                                    <td id="lichphauthuat">@item.Staff_Name</td>
                                    <td id="lichphauthuat">@item.Staff_Position </td>
                                    <td id="lichphauthuat">@item.Staff_Gender</td>
                                    <td id="lichphauthuat">@item.Staff_DateofBirth</td>
                                    <td id="lichphauthuat">
                                        <button id="delete"><i class="bi bi-info-circle"></i> </button>
                                    </td >
                                    <td id="delete">
                                            <button type="button" onclick="confirm_detele(@item.Staff_ID)" value="@item.Staff_ID" id="delete">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </table>
                @if (Model.PageCount >= 0)
                {
                    foreach (var item in Model.Items)
                    {
                        <div style="margin-top:0.7rem; display: none; min-width: 40%; height: 30%; left: 30%; top: 30%; z-index: 1;" class="form-frame delete-form" id="@item.Staff_ID">
                            <a style="text-align: center; color: #034078; font-family: Lato;font-size: 1.2rem;"> Bạn có chắc chắn muốn xóa nhân viên có số hiệu là @item.Staff_ID không? </a>
                        <div style="margin-top: 0.7rem;">
                                <button class="form-submit" hover="background-color: #0069cb" style="color: white;border: 1px #001F54 solid;font-size: 1.1rem;font-family: lato;padding: 0.5rem 1rem;background-color: #1282A2;border-radius: 4px; " onclick="location.href='@Url.Action("DeleteStaff", new{ staff_id = @item.Staff_ID})'" value="Có">Có</button>
                                <button class="form-submit" hover="background-color: #0069cb" onclick="confirm_delete_disabled()" style="margin-left: 1rem; color: white;border: 1px #001F54 solid;font-size: 1.1rem;font-family: lato; padding: 0.5rem 1rem; background-color: #1282A2; border-radius: 4px;">Không</button>
                            </div>
                        </div>
                    }
                }
                <script>
                    function confirm_detele(id) {
                        Id = "" + id;
                        var subScene = document.getElementsByClassName("delete-form");
                        for (let i = 0; i < @Model.ItemCount; i++) {
                            subScene[i].style.display = "none";
                            temp = subScene[i].id;
                            if (temp == Id) {
                                subScene[i].style.display = "block";
                            }
                        }
                    }
                    function confirm_delete_disabled() {
                        var subScene = document.getElementsByClassName("delete-form");
                        for (let i = 0; i < subScene.length; i++) {
                            subScene[i].style.display = "none";
                        }
                    }
                </script>
            </div>
        </div>
    </form>
</body>
</html>